.wiersz_mobile {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 9vh;
    margin-bottom: 3vh;

    &.textarea {
        height: 20vh;
    }

    input {
        font-size: calc(10px + 1vh);
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);

        &[type=submit] {
            margin-top: 3vh;
            width: 70%;
            height: 6vh;
            margin: 0 auto;
            background-color: #d5d5d5;
            color: #646464;
            border: none;
            text-transform: uppercase;
        }
    }

    label {
        margin-top: 1vh;
        font-size: calc(1vh + 7px);
        text-transform: uppercase;
    }
}