.container_konkurs {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    .arc {
        // width: 100%;
        z-index: -5;
        height: 100%;
    }

}