.regulamin {
    position: fixed;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #cbe6ff;
    z-index: 1000;
    border-radius: 2vw 0 0 2vw;
    box-shadow: 0 2vw 2vw rgba(0, 0, 0, 0.5);
    padding: 4vw;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: all 0.7s;

    &.open {
        right: 0%;
    }

    .close {
        position: sticky !important;
        z-index: 10001;
        top: 2%;
        left: 97%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: .7;
    }

    .tresc {
        position: absolute;
        top: 2%;
    }

    h1 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: calc(2vw + 15px);
        font-weight: 600;
        margin-bottom: 2vw;
    }

    h2 {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: calc(1vw + 12px);
        font-weight: 400;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

    ul {
        padding-left: 3vw;


        li {
            list-style: numeric;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: calc(1vw + 7px);
            font-weight: 200;
            margin-bottom: 1vw;
            line-height: 1.1;
        }

        b {
            font-weight: 400;
        }
    }

    .podpunkty {
        margin: 0;
        padding: 0;
        padding-left: 3vw;


        li {
            list-style: lower-alpha;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: calc(1vw + 7px);
            font-weight: 200;
            margin-bottom: 1vw;
            margin: 0;

            span.italic {
                text-decoration: none;
                font-style: italic;
                color: black;
            }
        }

    }
}